<h1><%= @server.name %></h1>

<!-- Messages Container -->
<div id="messages">
  <%= render @messages %>
</div>

<!-- New Message Form -->
<%= form_with(model: [@server, Message.new], remote: true, id: 'new_message') do |f| %>
  <%= f.text_area :content, placeholder: "Type a message", id: 'message_content' %>
  <%= f.submit "Send", id: 'send_button' %>
<% end %>

<!-- Server Metadata -->
<div id="server-id" data-server-id="<%= @server.id %>"></div>