<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "chat_room", media: "all" %>
  <%= stylesheet_link_tag "server", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "chat_room" %>
  <%= javascript_include_tag "servers" %>
<% end %>

<div class="server-container">

  <!-- Chat Section -->
  <div class="chat-section">
    <!-- Messages Container -->
    <div class="message-list" id="messages">
      <%= render partial: "messages/message", collection: @messages, as: :message %>
    </div>

    <!-- New Message Form -->
    <div class="message-input">
      <form id="message-form">
        <textarea
          id="message-input"
          placeholder="Type a message"
          rows="1"
          aria-label="Type your message here"
          required>
        </textarea>
        <button type="submit" id="send_button" aria-label="Send Message">Send</button>
      </form>
    </div>
  </div>

  <!-- User List Section -->
  <div class="user-list">
    <h2>Users</h2>
    <%= render partial: "users/user", collection: @server.users, as: :user %>
  </div>

</div>

<!-- Server Metadata -->
<div id="server-id" data-server-id="<%= @server.id %>"></div>
<meta name="csrf-token" content="<%= form_authenticity_token %>">