<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "devise/password_reset", media: "all" %>
<% end %>

<div class="centered-elements">
  <div class="title">Forgot your password?</div>
  <div class="junk-mail-message"> Make sure to check your junk/spam folder.</div>
</div>

<div class="forgot-password-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot-password-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="fields-container">
      <div class="field">
        <%= f.label :email, "Email Address" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "button" %>
        <button type="button" class="button" onclick="window.location.href='<%= new_session_path(resource_name) %>'">Back to Login</button>
      </div>
    </div>
  <% end %>


</div>
