<div class="top-navigation">
  <div class="nav-left">
    <%= button_to "Return to Menu", main_menu_path, class: "btn return-btn", method: :get %>
  </div>
  <div class="nav-center shard-balance-display">
    <p>Shard Balance: <%= current_user.shard_account.balance %> Shards</p>
  </div>
  <div class="nav-right">

  </div>
</div>

<div class="shop-container">
  <div class="shop-item">
    <%= button_to "Purchase Mystery Box (10 Shards)", purchase_mystery_box_path, method: :post, class: "btn add-funds-btn" %>
    <%= button_to "Go Here For Mystery Boxes", open_mystery_boxes_path, class: "btn add-funds-btn", method: :get %>
    <%= button_to "Inventory", inventory_path, class: "btn add-funds-btn", method: :get %>
  </div>
  <div class="shop-item">
    <%= button_to "    Add Funds    ", buy_shards_shard_accounts_path, class: "btn add-funds-btn", method: :get %>
  </div>
</div>




<!--<div id="shop-items-section">-->
<!--  <h2>Shop Items</h2>-->
<!--  <div class="shop-items">-->
    <%# @shop_items.each do |item| %>
<!--      <div class="shop-item">-->
<!--        <h3><%#= item.name %></h3>-->
<!--        <p><%#= item.price_in_shards %> Shards</p>-->
        <%#= button_to "Buy Now", buy_item_shard_accounts_path(item_id: item.id), method: :post, class: "btn-buy" %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->

<!--<div id="shard-purchase-section">-->
<!--  <h2>Choose Your Shards Package</h2>-->
<!--  <div class="shard-options">-->
    <%# ShardAccount::SHARD_PACKAGES.each do |package| %>
<!--      <div class="shard-tile">-->
<!--        <h3><%#= package[:shards] %> Shards</h3>-->
<!--        <p>$<%#= '%.2f' % package[:price] %></p>-->
        <%#= button_to "Buy Now", add_funds_shard_accounts_path(price: package[:price], shards: package[:shards]), method: :post, class: "btn-tile" %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->
