<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'welcome', media: 'all' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'welcome' %>
<% end %>

<style>
    .preload-images {
        display: none;
    }
</style>
<div class="preload-images">
  <%= image_tag 'scrolling_bg1.png' %>
  <%= image_tag 'scrolling_bg2.png' %>
  <%= image_tag 'scrolling_bg3.png' %>
  <%= image_tag 'scrolling_bg4.png' %>
  <%= image_tag 'scrolling_bg5.png' %>
  <%= image_tag 'scrolling_bg6.png' %>
</div>


<div class="background-container"></div>

<body class="welcome"> <!-- Added the class here -->

<!-- Title -->
<div class="title">Shards of the Grid</div>

<!-- Buttons -->
<div class="button-container">
  <%= button_to "Login", new_user_session_path, method: :get, class: "button"%>
</div>

</body>