<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "game_ui", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "game_ui" %>
  <%= javascript_include_tag "channels/game_logic_channel" %>
<% end %>

<!-- Title -->
<!--<div class="title">Playing...</div>-->

<div id="server-id" data-server-id="<%= @server.id %>" data-user-id="<%= current_user.id %>"></div>
<div
  id="game-element" data-game-id="<%= @game.id %>"
  data-user-id="<%= current_user.id %>"
  data-username="<%= current_user.username %>">
</div>

<div class="header">
  <!-- Left-side content -->
  <div class="shard-balance-display">
    <p>Shard Balance: <%= current_user.shard_account.balance %> Shards</p>
  </div>
  <!-- Right-side content -->
  <div class="chat-room-container">
    <button id="chatRoomButton" class="chat-room-button">Open Chat Room</button>
  </div>
</div>

<div id="flash-messages"></div>

<% if Rails.env.development? || Rails.env.test? %>
  <div class="game-details">
    <h1>Debug Info:</h1>
    <p>Game: <%= @game.name %></p>
    <p>Status: <%= @game.status %></p>
    <p>Creator id: <%= @game.creator_id %></p>
    <p>Creator user: <%= @server.original_creator_username%></p>
    <p>Logged in user: <%= current_user.username %></p>
    <p>User id: <%= current_user.id %></p>
  </div>
<% end %>

<div class="game-container">
  <!-- Game Grid -->
  <div class="game-grid">
    <% @grid_rows.each do |row| %>
      <div class="grid-row">
        <% row.each do |tile| %>
          <div class="grid-cell <%= tile.occupant_user.present? ? 'occupied' : '' %>"
            data-x="<%= tile.x %>"
            data-y="<%= tile.y %>"
            style="background-color: <%= tile.color || '#f0f0f0' %>;
              background-image: url(<%= asset_path(tile.image_source) %>);
              background-size: cover;"
          >
            <% if tile.occupant_user.present? %>
              <img class="tile-avatar"
                   src="<%= tile.occupant_avatar %>"
                   alt="Avatar for <%= tile.occupant_user.username %>" />
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

  <!-- Button to Open/Close Chat Room -->
  <div class="chat-room-toggle">
    <button class="chat-room-button" id="chatRoomToggle">Open Chat Room</button>
  </div>

  <!-- Chat Room Embedded -->
  <div class="chat-room" id="chatRoom" style="display: none;">
    <div class="chat-room-header">
      <span><%= @server.name %></span>
      <button class="chat-room-close" id="chatRoomClose">Close</button>
    </div>
    <iframe
      src="<%= server_path(@server) %>"
      title="Chat Room for <%= @server.name %>"
      style="width: 100%; height: 95%; border: 1px solid #111111;">
    </iframe>
  </div>
<!-- Pause Menu Embedded -->
<div class="pause-menu" id="pauseMenu" style="display: none;">
  <div class="pause-menu-header">
    <span>Options</span>
    <button class="pause-menu-close" id="pauseMenuClose">Close</button>
  </div>
  <div class="pause-menu-content">
    <%= link_to "Inventory", inventory_path(origin: request.fullpath), class: "btn add-funds-btn" %>
    <%= link_to "How To Play", instructions_path(origin: request.fullpath), class: "button"%>
    <%= button_to "Exit", games_path, method: :get, class: "button"%>
  </div>
</div>