<%= form_with url: add_funds_shard_accounts_path, method: :post do %>
  <label for="amount">Add Funds (USD):</label>
  <%= number_field_tag :amount, nil, required: true %>

  <h3>Card Information</h3>
  <label for="card_number">Card Number:</label>
  <%= text_field_tag :card_number, nil, placeholder: "1234 5678 9012 3456", required: true %>

  <label for="expiry_date">Expiry Date (MM/YY):</label>
  <%= text_field_tag :expiry_date, nil, placeholder: "MM/YY", required: true %>

  <label for="cvv">CVV:</label>
  <%= text_field_tag :cvv, nil, placeholder: "123", required: true %>

  <%= submit_tag "Add Funds" %>
<% end %>

