
<div class="top-navigation">
  <div class="nav-left">
    <%= link_to "Return", (params[:origin] || main_menu_path), class: "btn return-btn" %>
  </div>
  <div class="nav-center shard-balance-display">
    <p>Shard Balance: <%= current_user.shard_account.balance %> Shards</p>
  </div>
  <div class="nav-right">

  </div>
</div>

<div class="inventory-grid">
  <% @user_items.each do |user_item| %>
    <div class="inventory-item">
      <h3><%= user_item.item.item_name %></h3>
      <img src="<%= asset_path(user_item.item.images || 'mysteryBox.png') %>" alt="<%= user_item.item.item_name %>" />
      <p>Quantity: <%= user_item.quantity %></p>
    </div>
  <% end %>
</div>
