<div class="Inventory">
  <div class="top-navigation">
    <%= button_to "Return to Shop", shop_index_path, class: "btn return-btn", method: :get %>
    <div class="shard-balance-display">
      <p>Shard Balance: <%= current_user.shard_account.balance %> Shards</p>
    </div>

    <%= button_to "Go Somewhere", "#", class: "btn add-funds-btn", method: :get %>
  </div>
</div>

<div class="inventory-grid">
  <% @user_items.each do |user_item| %>
    <div class="inventory-item">
      <h3><%= user_item.item.item_name %></h3>
      <img src="<%= asset_path(user_item.item.images || 'mysteryBox.png') %>" alt="<%= user_item.item.item_name %>" />
      <p>Quantity: <%= user_item.quantity %></p>
    </div>
  <% end %>
</div>
