<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shards Of The Grid</title>

  <!-- Main Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="rails-env" content="<%= Rails.env %>">
  <%= stylesheet_link_tag 'server', media: 'all' %>

  <script>
      console.log(">>> Inline script in application.html.erb loaded <<<");
  </script>

  <!-- Conditional Stylesheet for Sessions Controller -->
  <% if controller_name == 'sessions' || controller_name == 'registrations'%>
    <%= stylesheet_link_tag 'sessions' %>
  <% end %>
</head>

<body>

<!-- Flash Messages -->
<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
    <button onclick="this.parentElement.style.display='none';">×</button>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="alert">
    <%= flash[:alert] %>
    <button onclick="this.parentElement.style.display='none';">×</button>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= render "shared/logout" %>
<% end %>

<!-- Main Content -->
<%= yield %>

</body>
</html>