<!DOCTYPE html>
<html lang="en">
<head>

  <title>Shards Of The Grid</title>

  <!-- Main Stylesheets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="turbo-cache-control" content="no-cache">
  <meta name="rails-env" content="<%= Rails.env %>">

  <audio id="bg-audio" loop hidden data-turbo-permanent>
    <source src="<%= asset_path('game-music.mp3') %>" type="audio/mpeg">
  </audio>
  <div class="music-toggle-container">
    <audio id="bg-audio" loop hidden>
      <source src="<%= asset_path('game-music.mp3') %>" type="audio/mpeg">
    </audio>
    <button id="toggle-music-btn">♫</button>
    <p class="music-toggle-text">Toggle Music</p>
  </div>

  <script>
      console.log(">>> Inline script in application.html.erb loaded <<<");
  </script>
</head>

<body class="<%= "#{controller_name}-#{action_name}" %>">

<!-- Flash Messages -->
<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
    <button onclick="this.parentElement.style.display='none';">×</button>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="alert">
    <%= flash[:alert] %>
    <button onclick="this.parentElement.style.display='none';">×</button>
  </div>
<% end %>

<% if user_signed_in? && !(controller_name == 'servers' && action_name == 'show') %>
  <%= render "shared/logout" %>
<% end %>

<% if controller_name == "games" && action_name == "index" %>
  <div class="back-button-container">
    <%= link_to "Back to Main Menu", main_menu_path, class: "back-button" %>
  </div>
<% end %>

<!-- Main Content -->
<%= yield %>

<!-- Additional Page-Specific Stylesheets/Scripts -->
<%= yield :stylesheets %>
<%= yield :javascripts %>
</body>
</html>